.classpath
.DS_Store
.project
.settings/org.eclipse.jdt.core.prefs
bin/.classpath
bin/.project
bin/META-INF/MANIFEST.MF
bin/META-INF/REFACTORINGS.XML
src/.classpath
src/.project
src/META-INF/MANIFEST.MF
src/META-INF/REFACTORINGS.XML
*.class
/src/org/quickconnectfamily/
bin/org/quickconnectfamily/